.card-contact{
  @include font (16px, 500, 20px);
  margin-top: 18px;
  margin-left: 5px;
  color: $success-green;
  display: flex;
  
  i{
    @include font (20px, 500, 20px);
    margin-right: 12px;
  }
}