// colors
$white: #FFFFFF;
$orange: #FE5244;
$blue: #124A9B;
$hover-blue: #115DCC;
$success-green: #3FB1B5;
$background-gray: #F9F9F9;
$background-block-gray: #C4C4C4;
$text-block-gray: #808080;
$graffiti-text: #333333;