.btn {
    @include btn('Roboto', 300);
    &__primary {
      @include btn-type(100%, 8px 20px, $white);
      border: 1px solid $blue;
      &:hover {
        background-color: lighten($color: $hover-blue, $amount: 25)
      }
      &--bigger {
        padding: 15px 20px;
        display: block;
        font-size: 18px;
        background-color: $blue;
        @media (min-width: 1024px){
          width: 250px;
          height: 55px;
          padding: 5px;
          font-size: 18px;
          border-radius: 8px;
        }
      }
    }
}